:root {
  --color-100: #f6f6f6;
  --color-101: #e7e7e7;
  --color-102: #d1d1d1;
  --color-103: #b0b0b0;
  --color-104: #888888;
  --color-105: #6d6d6d;
  --color-106: #5d5d5d;
  --color-107: #4f4f4f;
  --color-108: #454545;
  --color-109: #333333;
  --color-110: #262626;

  --color-900: #fff1d3;
  --color-901: #fff1d3;
  --color-902: #ffdfa5;
  --color-903: #ffc66d;
  --color-904: #ffa232;
  --color-905: #ff860a;
  --color-906: #ff6d00;
  --color-907: #cc4e02;
  --color-908: #a13d0b;
  --color-909: #82340c;
  --color-910: #461804;
}
